
.paragrafos{
	font-family: Arial, Helvetica;
	text-align: justify;
}
.container{
    margin-left: 5%;
    margin-right: 5%;
}
.informacoes_div{
    margin-left: 5%;
    margin-right: 5%;
}
.p_foto_infos{
	font-variant: inherit;
	font-family: cursive;
	text-align: justify;
	width: 60%;
	margin-left: 12%;
	}
.titHort{
		color: #cf5e59;
	}
footer {
		position: bottom;
		bottom: 0;
		background-color: #fff;
		color: #000;
		width: 100%;
		height: 100px;    
		text-align: center;
		line-height: 100px;
	}
