body{
	background-color: 
	#ffffff;
}
header {
	background: #fff7f1;
	padding: 20px 0;
}
ul{
	color: #03410b;
}
h2{
  color: #000000;
}
h2 :hover{
  color: gold;
}
.paragrafos{
font-family: Arial, Helvetica;
text-align: justify;
}
.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #077e1b;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #8ff553;
	text-decoration: none;
	border-radius: 30px;
}

.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius:50px;
}

.produtos li:hover {
	border-color:  #7c7e07;
  text-decoration: none;

}

.produtos li:active {
	border-color: #d3ecd1;
}

.produtos li:hover h2 {
	font-size: 34px;
  text-decoration: none;

}

.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}

.produto-descricao {
	font-size: 18px;
  text-decoration: none;

}

footer{
  background-color: #fff7f1;
position:absolute;
	margin-bottom: 0%;
	width:100%;}
/**/