div.box {
	width: 150px;
    
	display: inline-block;
}
img{
    border-radius: 50%;
}
.container-fotos, h1{
    align-items: center;
    text-align: center;
}
.meu_form{
    text-align: center;
    align-items: center;
}