h1{
    text-align: center;
}
div.box {
	width: 150px;
    
	display: inline-block;
}
img{
    border-radius: 50%;
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.card-text{
    line-height:inherit;

}
li a {
    color:#f2d4c9;
    background:#fff;
}
